---
title: Samples
permalink: "/samples.html"
layout: page
---

<div class="layout--articles">
	<section class="my-5">
		<header>
			<h2 id="languages">Languages</h2>
		</header>
		<div class="article-list grid gird--sm grid--p-3">
		
		<!-- Tutorail DIV Start -->			
			<div class="cell cell--12 cell--md-4 cell--lg-3">
				<div class="card card--flat">
					<div class="card__image">
						<img class="image" src="/assets/java.png">
						<div class="overlay overlay--bottom">
							<header> <a href="/java/quick-start"><h2 class="card__header">Java Tutorail</h2></a>
							</header>
						</div>
					</div>
				</div>
			</div>
			<!-- Tutorail DIV End --> 
			
			
		</div><!-- SQARE DIV end -->
	</section>
</div><!-- Layout DIV end -->