
<footer class="footer py-4 js-page-footer">
  <div class="main">

    {%- assign _site_author = site.author -%}
    {%- if _site_author.type == 'organization' -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Organization' -%}
    {%- else -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Person' -%}
    {%- endif -%}

    <div itemscope itemtype="{{ _site_author_itemtype }}">
      <meta itemprop="name" content="{{ _site_author.name }}">
      {%- assign _site_author_url = _site_author.url | default: '/'-%}
      {%- include snippets/get-nav-url.html path=_site_author_url -%}
      {%- assign _site_author_url = __return -%}
      <meta itemprop="url" content="{{ _site_author_url }}">
      {%- if _site_author.bio -%}
        <meta itemprop="description" content="{{ _site_author.bio }}">
      {%- endif -%}
      <div class="footer__author-links">
        {%- include author-links.html author=_site_author -%}
      </div>
    </div>
    {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
    {%- assign _locale_copyright_dates = __return -%}
    <div class="site-info mt-2">
      <div>
        {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
        {%- assign _locale_copyright_dates = __return -%}
        © {{ site.title }} {{ _locale_copyright_dates }},
        Powered by <a title="www.satyacodes.com" href="http://satyacodes.com/">SatyaCodes.com</a> - <a
        title="Satya Kaveti" href="https://www.facebook.com/isatyakaveti">Satya Kaveti's Writing.</a> | <a href="#">About<a/> | <a href="#">Contact<a/> | <a href="#">Terms<a/> | <a href="#"><i class="fab fa-facebook-f"></i><a/> | <a href="#"><i class="fab fa-youtube-square"></i><a/>| <a href="#"><i class="fab fa-linkedin-in"></i><a/>
      </div>
    </div>
  </div>
</footer>