---
layout: articles
titles:
  en: Home
  en-GB: Home
  en-US: Home
  en-CA: Home
  en-AU: Home
  zh-Hans: 主页
  zh: 主页
  zh-CN: 主页
  zh-SG: 主页
  zh-Hant: 主頁
  zh-TW: 主頁
  zh-HK: 主頁
  ko: 홈
  ko-KR: 홈
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: false
  show_readmore: false
  show_info: false
---

<div class="layout--home">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
